<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/omoss.css">
    <title>Allt p친 plats - OM</title>
</head>

<body>
    <%- include("navbar.ejs") %>

        <div class="card" style="background-color: rgba(0, 0, 0, 0.171);">
            <img class="card-logo" src="https://servicemuse.com/wp-content/uploads/2017/06/modern-workforce-management-blue-696x464.jpg">
            <div class="inner-card">
                <h1>Vem 칛r vi?</h1>
                <p>Vi 칛r en grupp av fem som tidigare jobbat innom lager och vet hur jobbigt det 칛r att manuellt inventera allting.</p>
            </div>
        </div>

        <div class="card" style="flex-direction: row-reverse;">
            <img class="card-logo" src="https://plansverige.org/wp-content/uploads/2018/03/power.jpg">

            <div class="inner-card">
                <h1>Vad har vi f칬r erfarenheter?</h1>
                <p>Vi har pluggat systemutveckling i snart ett 친r. Lita p친 oss vi 칛r proffs 游땔.</p>
            </div>

        </div>

        <div class="card" style="background-color: rgba(0, 0, 0, 0.171);">
            <img class="card-logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f3/Emblem-money.svg/1024px-Emblem-money.svg.png">
            <div class="inner-card">
                <h1>Vad kostar det?</h1>
                <p>Allt p친 plats 칛r ett system som 칛r helt kostnadfritt!.</p>
            </div>

        </div>
</body>

</html>