<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/orders.css">

</head>

<body>
    <%- include("navbar.ejs") %>

        <div class="container">
            <div class="data-container">
                <table id="order-table">
                    <tr>
                        <th>
                            Leverantör
                        </th>
                        <th>
                            Ingredient
                        </th>
                        <th>
                            Kvantitet
                        </th>
                    </tr>

                    <% for (a in dir) { %>
                        <tr>
                            <td>
                                <%=dir[a]["supplier"]%>
                            </td>
                            <td>
                                <%=a%>
                            </td>
                            <td>
                                <%=dir[a]["quantity"]%>
                            </td>
                        </tr>
                        <% }%>
                </table>
            </div>

        </div>
</body>

</html>